#ship1 {
  position: absolute;
  left: 0;
  top: 0;
}

#ship2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

#name1 {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  font-family: "KenPixel Mini Square";
  padding-left: 1%;
}

#name2 {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  font-family: "KenPixel Mini Square";
  padding-right: 1%;
}